@model RecipeBlogProject.Models.Person

@{
    ViewData["Title"] = "DashboardProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link href="~/Home/user-profile/style.css" rel="stylesheet" />
    <link href="~/Home/user-profile/edit-form/css/main.css" rel="stylesheet" media="all">
</head>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4 mx-auto mt-5">
            <div class="profile-img">
                <img src="~/profile-images/@Model.ImagePath" alt="Profile Picture" class="img-thumbnail" id="profileImagePreview" />
                <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
                    <input type="file" name="ProfileImage" class="form-control" id="profileImageInput" style="display: none;" onchange="previewImage(event)" />
                    <button type="button" class="btn btn-primary mt-2" onclick="document.getElementById('profileImageInput').click()">Select Image</button>
                    <input type="submit" value="Upload" class="btn btn-success mt-2" />
                </form>
            </div>
         
        </div>
        <div class="col-md-6 mx-auto my-auto">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card card-4">
                            <div class="card-body">
                                <form asp-action="Edit" method="POST">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row row-space mb-3">
                                        <div class="col">
                                            <h1>Edit Profile Info</h1>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row row-space mt-4">
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Firstname" class="control-label">First Name</label>
                                                <input asp-for="Firstname" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Lastname" class="control-label">Last Name</label>
                                                <input asp-for="Lastname" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Gender" class="control-label">Gender</label>
                                                <input asp-for="Gender" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Phone" class="control-label">Phone Number</label>
                                                <input asp-for="Phone" class="form-control" type="tel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label">Email</label>
                                                <input asp-for="Email" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col">
                                            <div class="form-group">
                                                <label asp-for="Password" class="control-label">Password</label>
                                                <input asp-for="Password" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="id" />
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn--radius-2 btn--blue" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('profileImagePreview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
