
@{
    Layout = "~/views/shared/_GetRecipeCategoriesLayout.cshtml";
}

<!-- ======= Menu Section ======= -->
<div class="menu section-bg" style="margin-top:7rem; margin-bottom:10rem;">
    <!--::exclusive_item_part start::-->
    <section id="menu" class="exclusive_item_part blog_item_section">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section-title">
                        <h2>Recipe Categories</h2>
                        <p>Choose Your Category</p>
                    </div>
                </div>
            </div>
            <div class="container d-flex flex-row justify-content-around">
                <div class="row mt-5">
                    @foreach (var item in ViewBag.categories)
                    {
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <div class="single_blog_item">
                                <div class="single_blog_img">
                                    <img src="~/@item.CategoryImagePath" width="50px" height="280px">
                                </div>
                                <div class="single_blog_text" style="padding: 20px 20px; border-color:black; background-color:#cda45e; color:white">
                                    <h3 style="color:white">@item.Categoryname</h3>
                                    <a asp-action="GetRecipesByCategory" asp-route-id="@item.id" class="btn_3"><strong>Browse Recipes</strong> <img src="~/Dingo/img/icon/left_2.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </section>
    <!--::exclusive_item_part end::-->
</div>